.filter{
    background: #fff;
    border:1px solid #07c;
    padding:10px;
    font-size: 13px;
    border-radius: 3px;
    margin-top:10px;
    background:green;

    h2{
        font-size: 15px;
        font-weight: light;
        color:white;
        background:#07c;
        margin:-10px;
        margin-bottom:5px;
        padding:10px;
    }

    .item{
        display:flex;
        align-items: center;
        .name{
            flex-grow: 1;
        }
    }

}
